.mp-button {
  text-transform: uppercase;
  font-family: var(--mp-font-family);
  font-size: var(--mp-font-size);
  line-height: var(--mp-line-height);
  text-align: center;
  border: 0;
  border-radius: var(--mp-border-radius);
  padding: 0.5rem 0.875rem;

  &-primary {
    background-color: var(--mp-primary);
    color: #fff;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--mp-ring);
  }
}
